<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'over'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar class="title"><span class="titulo">LOTO
        SPAIN</span></mat-toolbar>
    <mat-nav-list>
      <div class="sidenav__item" id="inicio">
        <div class="sidenav__item" id="row" (click)="true">
          <mat-icon>home</mat-icon> <span class="menu"><a routerLink="home" class="enlaces">Inicio</a></span>
        </div>
      </div>

      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Resultados
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="sidenav__item" id="tienda" (click)="navigateToTienda()">
            <div class="sidenav__block" id="row">
              <div class="sidenav__item__text">
                <div class="image__bonoloto"></div>
                <span class="menu"><a routerLink="productos" class="enlaces">Bonoloto</a></span>
              </div>
            </div>
          </div>
          <div class="sidenav__item" id="tienda" (click)="navigateToTienda()">
            <div class="sidenav__block" id="row">
              <div class="sidenav__item__text">
                <div class="image__eurom"></div>  
                <span class="menu"><a routerLink="productos" class="enlaces">Euromillones</a></span>
              </div>
            </div>
          </div>
          <div class="sidenav__item" id="tienda" (click)="navigateToTienda()">
            <div class="sidenav__block" id="row">
              <div class="sidenav__item__text">
                <div class="image__eurod"></div>
                <span class="menu"><a routerLink="productos" class="enlaces">Eurodreams</a></span>
              </div>
            </div>
          </div>
          <div class="sidenav__item" id="tienda" (click)="navigateToTienda()">
            <div class="sidenav__block" id="row">
              <div class="sidenav__item__text">
                <div class="image__gordo"></div>
                <span class="menu"><a routerLink="productos" class="enlaces">El Gordo</a></span>
              </div>
            </div>
          </div>
          <div class="sidenav__item" id="tienda" (click)="navigateToTienda()">
            <div class="sidenav__block" id="row">
              <div class="sidenav__item__text">
                <div class="image__primi"></div>
                <span class="menu"><a routerLink="productos" class="enlaces">La Primitiva</a></span>
              </div>
            </div>
          </div>
          <div class="sidenav__item" id="tienda" (click)="navigateToTienda()">
            <div class="sidenav__block" id="row">
              <div class="sidenav__item__text">
                <div class="image__quini"></div>
                <span class="menu"><a routerLink="productos" class="enlaces">La Quiniela</a></span>
              </div>
            </div>
          </div>
          <div class="sidenav__item" id="tienda" (click)="navigateToTienda()">
            <div class="sidenav__block" id="row">
              <div class="sidenav__item__text">
                <div class="image__quinig"></div>
                <span class="menu"><a routerLink="productos" class="enlaces">Quinigol</a></span>
              </div>
            </div>
          </div>
          <div class="sidenav__item" id="tienda" (click)="navigateToTienda()">
            <div class="sidenav__block" id="row">
              <div class="sidenav__item__text">
                <div class="image__quint"></div>
                <span class="menu"><a routerLink="productos" class="enlaces">Quíntuple</a></span>
              </div>
            </div>
          </div>
          <div class="sidenav__item" id="tienda" (click)="navigateToTienda()">
            <div class="sidenav__block" id="row">
              <div class="sidenav__item__text">
                <div class="image__naci"></div>
                <span class="menu"><a routerLink="productos" class="enlaces">Lotería Nacional</a></span>
              </div>
            </div>
          </div>
          <div class="sidenav__item" id="tienda" (click)="navigateToTienda()">
            <div class="sidenav__block" id="row">
              <div class="sidenav__item__text">
                <div class="image__lotot"></div>
                <span class="menu"><a routerLink="productos" class="enlaces">Lototurf</a></span>
              </div>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Botes
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="sidenav__item" id="tienda" (click)="navigateToTienda()">
            <div class="sidenav__block" id="row">
              <div class="sidenav__item__text">
                <div class="image__bonoloto"></div>
                <span class="menu"><a routerLink="productos" class="enlaces">Bonoloto</a></span>
              </div>
            </div>
          </div>
          <div class="sidenav__item" id="tienda" (click)="navigateToTienda()">
            <div class="sidenav__block" id="row">
              <div class="sidenav__item__text">
                <div class="image__eurom"></div>
                <span class="menu"><a routerLink="productos" class="enlaces">Euromillones</a></span>
              </div>
            </div>
          </div>
          <div class="sidenav__item" id="tienda" (click)="navigateToTienda()">
            <div class="sidenav__block" id="row">
              <div class="sidenav__item__text">
                <div class="image__eurod"></div>
                <span class="menu"><a routerLink="productos" class="enlaces">Eurodreams</a></span>
              </div>
            </div>
          </div>
          <div class="sidenav__item" id="tienda" (click)="navigateToTienda()">
            <div class="sidenav__block" id="row">
              <div class="sidenav__item__text">
                <div class="image__gordo"></div>
                <span class="menu"><a routerLink="productos" class="enlaces">El Gordo</a></span>
              </div>
            </div>
          </div>
          <div class="sidenav__item" id="tienda" (click)="navigateToTienda()">
            <div class="sidenav__block" id="row">
              <div class="sidenav__item__text">
                <div class="image__primi"></div>
                <span class="menu"><a routerLink="productos" class="enlaces">La Primitiva</a></span>
              </div>
            </div>
          </div>
          <div class="sidenav__item" id="tienda" (click)="navigateToTienda()">
            <div class="sidenav__block" id="row">
              <div class="sidenav__item__text">
                <div class="image__quini"></div>
                <span class="menu"><a routerLink="productos" class="enlaces">La Quiniela</a></span>
              </div>
            </div>
          </div>
          <div class="sidenav__item" id="tienda" (click)="navigateToTienda()">
            <div class="sidenav__block" id="row">
              <div class="sidenav__item__text">
                <div class="image__quinig"></div>
                <span class="menu"><a routerLink="productos" class="enlaces">Quinigol</a></span>
              </div>
            </div>
          </div>
          <div class="sidenav__item" id="tienda" (click)="navigateToTienda()">
            <div class="sidenav__block" id="row">
              <div class="sidenav__item__text">
                <div class="image__quint"></div>
                <span class="menu"><a routerLink="productos" class="enlaces">Quíntuple</a></span>
              </div>
            </div>
          </div>
          <div class="sidenav__item" id="tienda" (click)="navigateToTienda()">
            <div class="sidenav__block" id="row">
              <div class="sidenav__item__text">
                <div class="image__naci"></div>
                <span class="menu"><a routerLink="productos" class="enlaces">Lotería Nacional</a></span>
              </div>
            </div>
          </div>
          <div class="sidenav__item" id="tienda" (click)="navigateToTienda()">
            <div class="sidenav__block" id="row">
              <div class="sidenav__item__text">
                <div class="image__lotot"></div>
                <span class="menu"><a routerLink="productos" class="enlaces">Lototurf</a></span>
              </div>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-nav-list>
    <div class="container">
      <button type="button" (click)="logout()" class="logout">Cerrar Sesión</button>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="header">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span></span>
    </mat-toolbar>

    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>
