<!-- <div class="body">
  <div class="header">
    <div class="header__text"> Quinigol</div>
    <div class="btn_wrapper">
      <button class="header__btn" (click)="todoCero()">Nuevo ganador</button>
      <button class="header__btn" (click)="generarProducto()">Nuevo bote</button>
    </div>
  </div>
  <div class="contenedor">
    <div class="ganadores">
      JORNADAS
      <div class="ganador" *ngFor="let item of bonoloto">
        <div class="head">
          <div class="logo"></div>
          <p>QUINIGOL</p>
          <p>Jornada {{item.jornada}}ª - {{item.fecha | date: 'shortDate' }}</p>
          <mat-icon>add</mat-icon>
        </div>
        <div class="ganador__combinacion">
          <div class="combi">
            <div class="partido" *ngFor="let partido of item.partidos; track partido; let  i = index">
                <p>{{i+1}}.{{partido.local}}</p>
                <p>-</p>
                <p>{{partido.visitante}}</p>
                <p class="partido__marcador">{{partido.resultado}}</p>
                <p class="partido__resultado">{{obtenerResultado(partido.resultado)}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="botes">
      BOTES
      <div class="bote" *ngFor="let item of botes">
        <div class="head">
          <div class="logo"></div>
          <p>QUINIGOL</p>
          <p>Jornada {{item.sorteo}}ª - {{item.fecha | date: 'shortDate' }}</p>
          <mat-icon>add</mat-icon>
        </div>
        <div class="bote__cuantia">{{millones(item.cuantia)}}</div>
      </div>
    </div>
  </div>
</div> -->
<div class="body">
  <div class="header">
    <div class="header__text"> Quinigol</div>
    <div class="btn_wrapper">
      <button class="header__btn" (click)="todoCero()">Nuevo ganador</button>
      <button class="header__btn" (click)="generarProducto()">Nuevo bote</button>
    </div>
  </div>
  <div class="contenedor">
    <div class="ganadores">
      JORNADAS
      <div class="ganador" *ngFor="let item of bonoloto">
        <div class="head">
          <div class="logo"></div>
          <p>QUINIGOL</p>
          <p>Jornada {{item.jornada}}ª - {{item.fecha | date: 'shortDate' }}</p>
          <mat-icon (click)="abrirDetalles(item)">add</mat-icon>
        </div>
      </div>
    </div>
    <div class="botes">
      BOTES
      <div class="bote" *ngFor="let item of botes">
        <div class="head">
          <div class="logo"></div>
          <p>QUINIGOL</p>
          <p>Jornada {{item.sorteo}}ª - {{item.fecha | date: 'shortDate' }}</p>
          <mat-icon>add</mat-icon>
        </div>
        <div class="bote__cuantia">{{millones(item.cuantia)}}</div>
      </div>
    </div>
  </div>
</div>
